name: 'Tests'

on:
  push:
    branches:
      - 'master'
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build:
    strategy:
      # Default value means that a failure in one OS cancels all 
      fail-fast: false
      matrix:
        os: [ windows-latest ]  # ubuntu-latest, macos-latest
        smalltalk: [ Pharo64-13, Pharo64-14 ]
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.smalltalk }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: hpi-swa/setup-smalltalkCI@v1
        with:
          smalltalk-image: ${{ matrix.smalltalk }}
      - name: Load in New Image and Run Tests
        run: smalltalkci -s ${{ matrix.smalltalk }} ${{ matrix.ston }}
        shell: bash
        timeout-minutes: 10
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


